button#menu-button {
  padding: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 0.9rem;
  width: 100%;
  border: 0.1rem solid transparent;
  display: grid;
  grid-template-columns: 0.9rem 1fr auto;
  column-gap: 0.7rem;
  align-items: center;
  position: relative;

  p {
    grid-column-start: 2;
  }
}

button#menu-button:hover {
  border: 0.1rem solid var(--skyBlue);
  background-color: #585657FF;
}

div#menu-wrapper   {
  position: absolute;
  padding-left: 4px;
}

div#menu {
  padding: 2px;
  position: relative;
  background-color: var(--darkBright);
  min-width: 10rem;
  flex-direction: column;
  border: 1px solid var(--skyBlue);
  box-shadow: var(--shadow);
}
