header {
  padding-left: max(5vw, 2rem);
  padding-right: max(5vw, 2rem);
  height: 3rem;
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-rows: 1fr;
  font-weight: 500;
}

header > div {
  grid-column: 2;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;
  padding-top: 0.5rem;
  width: 100%;

  #logo {
    font-size: 2rem;
    grid-column-start: 1;
    border: none;
    background-color: transparent;
  }
  
  div#auth-anchors {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    grid-column-start: 3;
  }
}