<div style="height: 100%;" class="bg-main">
  <Header></Header>
  <main>

    <form method="post" [formGroup]="registerForm" (submit)="Register($event)">
      <Heading>Register</Heading>
      <div>
        <label  class="main" for="username">Username</label>
        <input  class="main" name="username" [formControl]="registerForm.controls.username">
      </div>
      <div>
        <label  class="main" for="email">Email</label>
        <input  class="main" name="email" [formControl]="registerForm.controls.email">
      </div>
      <div>
        <label  class="main" for="password">Password</label>
        <input  class="main" type="password" name="password" [formControl]="registerForm.controls.password">
      </div>
      <div>
        <button type="submit" class="main" [disabled]="!registerForm.valid">
          Register
        </button>
      </div>
    </form>
  </main>
</div>