<div style="height: 100%">
  <Header></Header>
  <main>

    <form method="post" [formGroup]="loginForm" (submit)="Login($event)">
      <Heading>Login</Heading>
      <FormInput label="Username" [formControl]="loginForm.controls.username" [errorMessage]="AuthService.GetUsernameErrorMessage(loginForm.controls.username)"/>
      <FormInput type="password" label="Password" [formControl]="loginForm.controls.password" [errorMessage]="AuthService.GetPasswordErrorMessage(loginForm.controls.password)"/>
      <div class="buttons">
        <MainButton type="submit" [disabled]="!loginForm.valid">Login</MainButton>
        <SecondaryButton type="button" (onClick)="GoToRegisterPage()">Register</SecondaryButton>
      </div>
    </form>
  </main>
</div>