<div style="height: 100%;" class="bg-main">
  <Header></Header>
  <main>

    <form method="post" [formGroup]="loginForm" (submit)="Login($event)">
      <Heading>Login</Heading>
      <FormInput label="Username" [formControl]="loginForm.controls.username" [errorMessage]="AuthService.GetUsernameErrorMessage(loginForm.controls.username)"/>
      <FormInput type="password" label="Password" [formControl]="loginForm.controls.password" [errorMessage]="AuthService.GetPasswordErrorMessage(loginForm.controls.password)"/>
      <div class="buttons">
        <button type="submit" class="main" [disabled]="!loginForm.valid">
          Login
        </button>
        <button type="button" class="main" (click)="GoToRegisterPage()">
          Register
        </button>
      </div>
    </form>
  </main>
</div>