div {

  label {
    font-size: 0.9rem;
    color: var(--textColor);
  }

  input {
    width: 100%;
    height: 1.7rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--pastelGray);
    color: var(--textColor);
  }
  
  input:not(.error):focus {
    border-bottom-color: #FFFFFFFF;
  }
  
  input.error {
    border-bottom-color: #CC0000FF;
  }

  p {
    height: 1rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    color: #FF0000FF;
    font-size: 0.8rem;
  }
}