  <div id="color-theme-selector">
    <button id="color-theme-selector-button" (click)="ShowThemeSelector()">
      <span class="material-symbols-outlined">
        {{GetColorThemeIcon()}}
      </span>
      Theme
    </button>
    <ul [style]="isColorSelectorVisible() ? {display: 'flex'} : {display: 'none'}" id="color-theme-list">
      <li (click)="SetColorTheme('OS Default')">
        <span class="material-symbols-outlined">
          contrast
        </span>
        OS Default
      </li>
      <li (click)="SetColorTheme('Light')">
        <span class="material-symbols-outlined">
          light_mode
        </span>
        Light
      </li>
      <li (click)="SetColorTheme('Dark')">
        <span class="material-symbols-outlined">
          dark_mode
        </span>
        Dark
      </li>
    </ul>
  </div>