button {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.2rem;
  
  span {
    font-size: 1.2rem;
  }
}

button:hover, button.visible {
  span {
    color: white;
  }
}

div {
  position: absolute;
  top: 2.2rem;
  right: 0rem;
  margin-top: 0.2rem;
  width: 10rem;
  row-gap: 0.2rem;
  background-color: var(--darkBright);
  flex-direction: column;
  color: var(--bright);
  box-shadow: var(--shadow);
  border: 1px solid var(--skyBlue);
  padding: 2px;

  li {
    cursor: pointer;
    padding: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    border: 1px solid transparent;
  }


  li:hover, li.selected {
    border-color: var(--skyBlue);
  }
}