main {
  height: calc(100dvh - 3rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 24rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--formBackgroundColor);
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 2rem auto auto 1fr;
    justify-items: center;
    box-shadow: 2px 2px 4px -2px black;

    div {
      display: grid;
      row-gap: 0.2rem;
      width: 100%;
    }

    div:nth-of-type(1) {
      margin-top: 1.5rem;
    }

    div:nth-of-type(3) {
      margin-top: 1.5rem;
      display: grid;
      row-gap: 1rem;
      column-gap: 2rem;

     


    }
  }
  
}
