:root {
  --mainColor: #00AEB1FF;
  --mainColorLight: #00DEE1FF;
}

:root:not(.light):not(.dark) {
  --secondaryColor: #FFFFFFFF;
  --formBackgroundColor: #FFFFFFFF;
  --formInputBackgroundColor: #555555FF;
  --formInputBorder: 1px solid var(--formInputBackgroundColor);
  --textColor: #000000FF;
  
  @media (prefers-color-scheme: dark) {
    --secondaryColor: #222222FF;
    --formBackgroundColor: #222222FF;
    --formInputBorder: none;
    --textColor: #FFFFFFFF;
  }

  #root {
    background-color: var(--secondaryColor);
  }
}

.light {
  --secondaryColor: #FFFFFFFF;
  --formBackgroundColor: #FFFFFFFF;
  --formInputBackgroundColor: #00000011;
  --formInputBorder: none;
  --textColor: #000000FF;
}

.dark {
  --secondaryColor: #222222FF;
  --formBackgroundColor: #222222FF;
  --formInputBorder: none;
  --textColor: #FFFFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none; 
}

.bg-main {
  background: linear-gradient(to top, var(--mainColor), #00AEB177);
}

.material-symbols-outlined {
  color: var(--textColor);
  font-size: inherit;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body, button {
  font-family: monospace;
  color: var(--textColor);
  font-size: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--mainColor);
}

button.main {
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--mainColor);
  border: none;
  box-shadow: 2px 2px 4px -2px black;
  font-weight: 600;
}

button.main:disabled {
  background-color: var(--formInputBackgroundColor);
}

button:hover:not(:disabled) {
  background-color: var(--mainColorLight);
}

header.main {
  padding-left: max(5vw, 2rem);
  padding-right: max(5vw, 2rem);
  height: 3rem;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  justify-items: center;
  align-items: center;

  #logo {
    color: var(--textColor);
    font-size: 2rem;
    border: none;
    background-color: transparent;
  }

  ul#nav-bar {
    display: flex;
    column-gap: 3rem;
  }

  div#auth-anchors {
    display: flex;
    column-gap: 2rem;
    
    button {
      padding: 0.5rem;
      background-color: transparent;
      border: none;
    }

    button:hover {
      background-color: #FFFFFF55;
    }
  }
}

