@import "tailwindcss";

@theme {
  --font-rajdhani: "Rajdhani", serif;
  --shadow-card: 2px 2px 2px 0px black;
  --color-blue: #263A99FF;
  --color-blueBright: #3549A8FF;
  --color-skyBlue: #97B4DEFF;
  --color-skyBlueBright: #B6D3FDFF;
  --color-dark: #2A2829FF;
  --color-darkBright: #3A3839FF;
  --color-bright: #F0EBE5FF;
  --color-pastelGray: #DCD0BEFF;
}

.bg-main {
  background-image: linear-gradient(to top right, #97B4DEFF 30%, #B6D3FDFF);
}

.material-symbols-outlined {
  color: var(--bright);
  font-size: inherit;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}